
body {
	margin: 0;
	padding: 0;
}

.debug-bar {
	position: absolute;
	bottom: 0;
	height: 30px;
	width: 100vw;
	background-color: rgb(57, 57, 57);
	display: flex;
	justify-content: center;
}

.mouse-pos-x, .mouse-pos-y {
	color: white;
	margin: 0 10px;
}